@model PgrogrammingClass.Core.Domain.Tblproduct

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Tblproduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetaDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetaDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowOnHomepage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowOnHomepage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeyWord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeyWord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetaTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetaTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TblCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TblCategory.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
