@model IEnumerable<PgrogrammingClass.Core.Domain.Tblproduct>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
@inject IGetData getdata

<div class="container bg-light pt-1 mt-1 pb-1">
    <div class="direction-ltr">
        <section class="lazy slider">
            @foreach (var item in getdata.GetBanner())
            {
                <div>
                    <img src="@item.Picture" title="@item.Title" alt="@item.Alt" />
                </div>
            }
        </section>
    </div>
    <div class="bg-light p-2 m-2 rounded theme">
        @ViewBag.indexSentens
    </div>
    <div class="text-center">
        <strong class="theme">محصولات جدید</strong>
    </div>
    <div class="theme-line"></div>
    <div class="direction-ltr">
        <section id="newProduct">
            @foreach (var item in Model.Take(10))
            {
                <div class="bg-light p-2 m-2 rounded theme shadow">
                    <a asp-action="ProductDetails" asp-route-id="@item.Id" asp-route-title="@item.Title">

                        <img src="@item.ProductImages.FirstOrDefault().Thumbnaile" title="@item.Title" alt="@item.Title" class="img-fluid img-thumbnail m-1" />
                        <div class="mt-2">
                            <strong>@item.Title</strong>
                        </div>
                        <div class="mt-2 text-muted" style="height:75px;overflow:hidden">
                            @item.ShortDescription
                        </div>
                    </a>
                    <button class="btn bg-theme text-white btn-block mt-3 btn-sm" onclick="addToCart(@item.Id)">افزودن به سبد خرید</button>
                </div>
            }
        </section>
    </div>
    <div class="text-center mt-3">
        <strong class="theme">محصولات پر فروش</strong>
    </div>
    <div class="theme-line"></div>
    <div class="direction-ltr">
        <section id="mostSoldProduct">
            @foreach (var item in getdata.GetMostSold())
            {
                <div class="bg-light p-2 m-2 rounded theme shadow">
                    <a asp-action="ProductDetails" asp-route-id="@item.Id" asp-route-title="@item.Title">
                        <img src="@item.ProductImages.FirstOrDefault().Thumbnaile" title="@item.Title" alt="@item.Title" class="img-fluid img-thumbnail m-1" />
                        <div class="mt-2">
                            <strong>@item.Title</strong>
                        </div>
                        <div class="mt-2 text-muted" style="height:75px;overflow:hidden">
                            @item.ShortDescription
                        </div>
                    </a>
                    <button class="btn bg-theme text-white btn-block mt-3 btn-sm" onclick="addToCart(@item.Id)">افزودن به سبد خرید</button>
                </div>
            }
        </section>
    </div>
    <div class="text-center mt-3">
        <strong class="theme">محصولات پر طرفدار</strong>
    </div>
    <div class="theme-line"></div>
    <div class="direction-ltr">
        <section id="mostViewedProduct">
            @foreach (var item in Model.Skip(20))
            {
                <div class="bg-light p-2 m-2 rounded theme shadow">
                    <a asp-action="ProductDetails" asp-route-id="@item.Id" asp-route-title="@item.Title">

                        <img src="@item.ProductImages.FirstOrDefault().Thumbnaile" title="@item.Title" alt="@item.Title" class="img-fluid img-thumbnail m-1" />
                        <div class="mt-2">
                            <strong>@item.Title</strong>
                        </div>
                        <div class="mt-2 text-muted" style="height:75px;overflow:hidden">
                            @item.ShortDescription
                        </div>
                    </a>
                        <button class="btn bg-theme text-white btn-block mt-3 btn-sm" onclick="addToCart(@item.Id)">افزودن به سبد خرید</button>
                </div>
            }



        </section>
    </div>
</div>